@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
}
.shadow {
  box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.1);
}
.placeholder input::placeholder {
  color: #101a31;
}
.bg-footerBg {
  background-size: 50% 100%;
}
.dropShadow {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.7));
}
@media (max-width: 640px) {
  .bg-footerBg {
    background-size: cover;
  }
}
@font-face {
  font-family: 'IranSans';
  src: url('/fonts/IRANSansX-UltraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'IranSans';
  src: url('/fonts/IRANSansX-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'IranSans';
  src: url('/fonts/IRANSansX-Thin.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IranSans';
  src: url('/fonts/IRANSansX-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IranSans';
  src: url('/fonts/IRANSansX-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IranSans';
  src: url('/fonts/IRANSansX-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IranSans';
  src: url('/fonts/IRANSansX-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'IranSans';
  src: url('/fonts/IRANSansX-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'IranSans';
  src: url('/fonts/IRANSansX-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: IranSans;
}

::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  width: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #101a31;
  border-radius: 8px;
  height: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #101a31;
}

/* Custom styles to hide scrollbar for WebKit browsers */
.hide-scrollbar::-webkit-scrollbar {
  width: 0.1em;
}

.hide-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: none;
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows {
  -moz-appearance: textfield;
}
